* {
  margin: 0;
  padding: 0;
}

.title {
  background: linear-gradient(-45deg, black, grey);
}

h1 {
  font-size: 48px;
  text-align: center;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 10px;
  word-spacing: 15px;
}

h3 {
  font-size: 28px;
  text-align: left;
  margin-left: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h4 {
  font-size: 20px;
  text-align: left;
  margin-left: 40px;
}

h2 {
  font-size: 20px;
  text-align: right;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0px;
  word-spacing: 20px;
  color: rgb(114, 110, 110);
}

.empty {
  width: 300px;
  height: 300px;
  background-image: url(/photo_2023-03-22_08-09-03.jpg);
  background-repeat: round;
}

.empty2 {
  width: 650px;
  height: 300px;
  background-color: grey;
}

.bio {
  background-color: grey;
}

#galery,
#price {
  margin: 0px;
  padding: 0px;
  background-color: gray;
  border: 3px solid grey;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 10px;
  word-spacing: 15px;
  font-weight: bold;
}

table {
  position: relative;
  align-items: center;
  background-color: grey;
}

#one {
  width: 650px;
  height: 400px;
  background-image: url(/article-vidy-sovremennyh-tancev2.jpg);
  background-repeat: round;
}

#two {
  width: 650px;
  height: 400px;
  background-image: url(/b86fd541285aa88d24f20ec31765923fbd33285e.jpg);
  background-repeat: round;
}

#three {
  width: 650px;
  height: 400px;
  background-image: url(/contemporary_site.jpg);
  background-repeat: round;
}

#four {
  width: 650px;
  height: 400px;
  background-image: url(/ee233b1fdaa34581b49ec6d332540f9c.jpg);
  background-repeat: round;
}

#five {
  width: 650px;
  height: 400px;
  background-image: url(/group-men-women-dancing-hip-hop-choreography-800x554.jpg);
  background-repeat: round;
}

#six {
  width: 650px;
  height: 400px;
  background-image: url(/sovr-tanc-podr.jpg);
  background-repeat: round;
}

#seven {
  width: 650px;
  height: 400px;
  background-image: url(/sovremennij-tanec-1.jpg);
  background-repeat: round;
}

#eight {
  width: 650px;
  height: 400px;
  background-image: url(/vidy-sovremennyh-tancev1.jpg);
  background-repeat: round;
}

#nine {
  width: 650px;
  height: 400px;
  background-image: url(/wide_detail_picture.jpg);
  background-repeat: round;
}

p {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  background-color: white;
  border-radius: 40px;
  font-size: 20px;
  border: 1px solid grey;
}

footer {
  text-align: right;
  font-size: smaller;
}

footer:hover {
  color: grey;
  font-size: medium;
}
